@model BIMToolkitAPIClient.ViewModels.Properties

@{
    ViewBag.Title = "Properties";
}

<h2>Properties</h2>
<p>
    Use the API to search for properties by name or ID. Try searching for "compress", "rating" or "11426".
</p>

@using (Html.BeginForm("Property", "Property", FormMethod.Get))
{
    <p>
        Property name: @Html.TextBox("searchTerm") <br />
        <input name="searchTerm" type="submit" value="Search" />
    </p>
}
